$margin : 4rem;
.slider{
  & .miracle-slider-main .miracle-slider{
		
		&__nav{
			display: flex;
			position: absolute;
			top: 50%;
			transform: translateY(50%);
			width: 100%;
			justify-content: space-between;
			// padding: 0rem 6.571rem;
		}
		
		&__prev, &__next {
			font-size: 2rem;
			padding: 2rem 1.5rem;
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			
			&:visited, &:active{
				transform: scale(0.9) translateY(-50%);
				transition: transform .5s ease;
			}
		}

		&__prev{
			left: $margin;
		}


		 &__next{
			right: $margin;
		}
	}
	
}