.team{
	background-color: map-get( $my_color, white);
	background-image: url(./img/lay2.png);
    background-position: center;
    background-repeat: no-repeat;
	
	& h1{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		margin-top: 5rem;
		color: map-get( $my_color, green ); 
		font-weight: 700;
		text-transform: uppercase;
        text-shadow: 0px 1px 0px white;
		position: relative;
		z-index: 1;
	}
	
	& h1:after{
		content: "";
		position: absolute;
		z-index: -1;
		background-image: url(./img/brorder1.png);
		width: 203px;
		height: 75px;
		top: -80%;
		left: 50%;
		transform: translateX(-50%);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	
	& h2{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	&__slider{
    	display: inline-block;
		padding: 0;
		margin: 0 auto;
	}
	
	&__slider li{
		display: inline-block;
        margin: 3rem 7rem;
		background-color: map-get( $my_color, white);
	}
	
	&__slider img{
		padding: 0 1rem;

	}
	
	&__text{
		font-size: 1.5rem;
		color: map-get( $my_color, grays);
		text-align: center;
		background: map-get( $my_color, light-green);
		margin: 0;
		padding: 0rem 10rem;
		padding-bottom: 5rem;
	}
	
	&__dash{
		margin: 0;
		text-align: center;
		padding: 1rem;
		font-size: 1.2rem;
		color: map-get( $my_color, grays);
	}
}