$margin : -5rem;
.portfolio__slider{
	.miracle-slider{
		&__nav{
			padding: 0;
		}
		&__prev, &__next{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		&__prev{
			left: $margin;
		}
		&__next{
			right: $margin;
		}
		&__item{
			&.active{
				margin-right: 20px;
				&.last{
					margin-right: 0;
				}
			}
			img{
				height: 130px;
				object-fit: cover;
				margin-bottom: 20px;
			}
		}
	}
}