$path: './fonts'; 
@import './fonts/fa/scss/font-awesome';

/*--------------------------------------------------flowers-------------------------------------*/

@font-face {
	font-family: 'Copyist';
	src: url('#{$path}/Copyist.otf');
    src: url('#{$path}/copyist-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path}/copyist-webfont.woff2') format('woff2'),
         url('#{$path}/copyist-webfont.woff') format('woff'),
         url('#{$path}/copyist-webfont.ttf') format('truetype'),
	     url('#{$path}/copyist-webfont.svg#copyistthin') format('svg');
		
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana';
	src:  url('#{$path}/Verdana.ttf');
	
	font-weight: normal;
	font-style: normal;
}