$my_color : (
	primary		:	#74a29f,
	secondary	: 	#fcedf5,
	black		: 	#1f2022,
	white		: 	#ffffff,
	gray		: 	#e5e9ea,
	pink		: 	#fb009f,
    dark-green  :   #626f72,
	green       :   #495e5d,
	light-green :   #e6f3f2,
	green-gray  :   #b5cecc,
	green-gray1 :   rgba( 123, 162, 159, 0.77 ),
	grays       :   #58595b,
	pinkl       :   #fcedf5,
	pinkii		:   #ff679f,
	border-col	: 	#a8a8a8,
	active-but	: 	#fbb065,
	social-bg 	: 	#565656,
	light-blue 	: 	#d0f9fb,
	brown		: 	#d8be7e,
	yellow 		: 	#f5f701,
	light-gren	: 	#75c765
	
);

$max-width: 1200px;
$block-width: 1024px;

$gw : (
	x-small	: 320px,
	small	: 480px,
	medium 	: 780px,
	large 	: 1200px
);

html{
	font-size: 10px;
	font-family: 'Verdana';
}

body{
	font-family: 'Verdana'!important;
	margin: 0;
	scroll-behavior: auto;
	// background-image:url(../img/Flo_fon.png);
}
	
.modif{background-color: map-get( $my_color, white)!important;}
.padding{padding: 0 6.571rem;}
.garident{background: linear-gradient(#ffffff 25%, rgba(149, 184, 182, 0) 23%);}
h1{ font-size: 2.8rem !important;padding-top: 0.5rem;}   
h2 {font-family: 'Copyist';font-size: 5rem;font-weight: 100;color: map-get( $my_color, primary );line-height: 4rem;}

@media only screen and (max-device-width : map-get( $gw , small ) ){
	html{
		font-size: 5px;
	}
	h1:after {
		width: 204px!important;
		height: 45px!important;
	}
	h2 {
		font-size: 3rem !important;
		text-align: center;
	}
	.team__slider li {
	    display:block!important;
	}
	.test-header__logo {
	    max-width: 40%!important;
	}
	.test-header__button {
		// right: 7%!important;
		// top: 21%!important;
		// max-width: 23%!important;
		// max-height: 11%!important;
	}
	.aboutus h1:after {
		width: 204px!important;
		height: 45px!important;
	}
	.test-header__info p {
    // font-size: 0.9em!important;
	}
}