.construction{
	
	&__content{
		background-color: white;
		padding: 0 6.571rem;
		flex-wrap: wrap;
		&-rules{
			padding: 0;
			list-style-type: decimal;
			// max-width: 60%;
			font-size: 1.4rem;
		}
		&-login{
			flex-grow: 0;
			form{
				display: flex;
				flex-direction: column;
				padding: 0 2rem 3rem;
				flex-wrap: wrap;
				font-size: 1.2rem;
				p{
					flex-basis: 100%;
					font-size: 1.8rem;
				}
				label{
					flex-basis: 50%;
				}
				input{
					flex-basis: 50%;
					margin-bottom: .5rem;
				}
				input[type="submit"]{
					flex-basis: 100%;
					background-color: map-get( $my_color, pink );
					border: none;
					color: map-get( $my_color, white );
					font-size: 1.4rem;
					cursor: pointer;
				}
			}
		}
		&-last{
			margin-bottom: 4rem;
		}
	}
	
	& h1{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		margin: 0 auto;
	    margin-top: 5rem;
		color: #495e5d;
		font-weight: 700;
		text-transform: uppercase;
        text-shadow: 0px 1px 0px white;
		position: relative;
		z-index: 1;
	}
	
	& h1:after{
		content: "";
		position: absolute;
		z-index: -1;
		background-image: url(./img/brorder1.png);
		width: 203px;
		height: 75px;
		top: -80%;
		left: 50%;
		transform: translateX(-50%);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	
	& h2{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	&__text{
		width: 100%;
		font-size: 18px;
		color: #626f72;
	    text-align: center;
	}
	
	&__object{
		float: left;
        margin: 0 1rem;
	}
	
	&__size{
		float: right;
	    margin: 0 1rem;
		
		& ul{
			padding: 0;
		    list-style: none;
		}
	}
		
	&__box{
		min-height: 86px;
		width: 100%;
		border: 2px solid #b0b0b0;
		margin: 1rem 0;
		max-width: 309px;

		
			& img{
				float: left;
			    margin: 5px 5px;
			}

			& h3{
				float: left;
				color: #3e3e3f;
				font-size: 15px;
				font-weight: 600;
				text-transform: uppercase;
			}
			
		    & p{font-size: 10px;
				float: left;
				text-align: center;
				max-width: 80%;
			    margin: 0;
		    }
		
			& p:last-child{
				background-color: #d0f9fb;
				width: 100%;
				max-width: 95%;
				font-weight: 400;
				margin: 0px 8px;
				line-height: 2rem;
				padding: 0 5px;
				text-align: left;
				color: #3e3e3f;
				font-size: 15px;
			}
	}
	&__constructor{
		display: flex;
		justify-content: space-between;
	}

	&__image{
		flex-basis: 60%;
		img{
			width: 100%;
		}
		@media only screen and(max-width: map-get( $gw, medium )){
			flex-basis: 100%;
		}
	}
	&__right-settings{
		flex-basis: 38%;
		text-align: center;
		p{
			margin-bottom: 0;
			text-align: left;
		}
		h2{
			justify-content: flex-start;
			font-size: 1.2rem;
			line-height: 1;
			margin-bottom: 0;
		}
		&-view{
			flex-basis: 77%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
			flex-grow: 2;
			&-name{
				text-transform: uppercase;
				font-size: 1.6rem;
			}
			&-description{
				flex-basis: 100%;
				font-size: 1rem;
				text-align: center;
				padding: .5rem;
			}
			@media only screen and(max-width: map-get( $gw, x-small )){
				justify-content: center;
			}
		}
		&-seredina{
			flex-basis: 100%;
			display: flex;
			justify-content: space-evenly;
			background-color: map-get( $my_color, light-blue );
			align-items: center;
			label{
				margin-bottom: 0;
			}
		}
		&-element{
		    border: 1px solid map-get( $my_color, border );
			display: flex;
			flex-wrap: wrap;
		    cursor: pointer;
		    margin-bottom: 1.5rem;
		    justify-content: space-between;
		    &:not(.construction__right-settings-button){
		    	min-height: 104px;
		    }
		    p{
		    	@media only screen and( max-width: map-get($gw, x-small) ){
					text-align: center;
				}
		    }
		    &_active{
				border: 2px solid map-get( $my_color, border ) !important;
				background-color: rgba(137, 173, 169, 0.53);
			}
			img{
				flex-basis: 20%;
				max-width: 70px;
				max-height: 70px;
			}
			@media only screen and( max-width: map-get($gw, x-small) ){
				flex-direction: column;
				align-items: center;
				justify-content: center; 
				flex-wrap: nowrap;
				& > *{
					display: block; 
					text-align: center;
					width: 100%;
				}  
			}
		}
		&-buttons{
			display: flex;
			justify-content: space-between;		
			margin-bottom: 1.2rem;	
		}
		&-button{
			border: 1px solid map-get( $my_color, border );
			width: 45%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: .4rem 0;
			color: map-get( $my_color, black );
			text-decoration: none;
			text-transform: uppercase; 
			font-size: 1.6rem;
			label{ 
				margin-bottom: 0;
			} 
			&_save{
				background-color: map-get( $my_color, yellow );
				border-radius: 5px;
				padding: 1.2rem 0rem;
				&:hover{
					background-color: map-get( $my_color, active-but );
					text-decoration: none;
				 	color: map-get( $my_color, black ); 
				}
			}
			&_order{
				background-color: map-get( $my_color, light-gren );
				padding: 1.2rem 0rem;
				border-radius: 5px;
				&:hover{
					background-color: map-get( $my_color, active-but );
					text-decoration: none;
				 	color: map-get( $my_color, black ); 
				}
			}
		} 
		@media only screen and(max-width: map-get( $gw, medium )){
			flex-basis: 100%;
			justify-content: center;
		}
	}
	&__colors{
		// max-width: 60%;
		ul{
			list-style: none;
			display: flex;
			width: 100%;
			padding: 0;
			flex-wrap: wrap;
			li{
				width: 15px;
				height: 15px;
				background-color: map-get( $my_color, active-but );
				margin-right: .3rem;
				margin-bottom: .3rem;
				cursor: pointer;
			}
		}
		h4 {
			margin: 0 0 0.5rem 0;
		}
		@media only screen and(max-width: map-get( $gw, medium )){
			max-width: 100%;
		}
	}
	&__sets{
		display: flex;
		flex-wrap: wrap;
		flex-basis: 100%;
		h4{
			flex-basis: 100%;
		}
		ul{
			list-style: none;
			display: flex;
			padding: 0;
			cursor: pointer;
			flex-wrap: wrap;
			& :last-of-type{
				background-color: transparent;
				flex-basis: 100%;
			}
			li{
				width: 15px;
				height: 15px;
				background-color: map-get( $my_color, active-but );
				margin-right: .3rem;
				margin-bottom: .3rem;
			}
		}

		@media only screen and(max-width: map-get( $gw, x-small )){
			justify-content: center;
		}
	}
	&__settings{
		margin-top: -65px;
		@media only screen and(max-width: map-get( $gw, medium )){
			margin-top: 0;
		}
	}
}

