.portfolio{
	background: linear-gradient(#ffffff 38%, #b5cecc 33%);
	& h1{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		color:  map-get( $my_color, green );
		font-weight: 700;
		text-transform: uppercase;
        text-shadow: 0px 1px 0px white;
		position: relative;
		z-index: 1;
	}
	
	& h1:after{
		content: "";
		position: absolute;
		z-index: -1;
		background-image: url(./img/brorder1.png);
		width: 203px;
		height: 75px;
		top: -80%;
		left: 50%;
		transform: translateX(-50%);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	
	& h2{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	&__content{
		background-color: map-get( $my_color, green-gray1 );
	}
	&__slider{
		display: flex;
		text-align: center;
		padding: 0;
		width: 95%;
		margin: 0 auto;
		justify-content: space-between;
	}
	
	& p{
		color:  map-get( $my_color, white );
		font-size: 2rem;
		text-align: center;
        padding: 5rem 12rem;
	}
}