/*
*  Theme Name: ...
*  Theme URI: http://www.sicom.pro/
*  Description: ...
*  Author: SiCoM
*  Version: 0.0.1
*  License: commercial
*/

.test-header{
	width: 100vw !important;
}
.slider {
	margin-top: 121px;
}
.test-header__info a{color: #626f72; text-decoration: none;}
.contacts__adress a{color: #626f72; text-decoration: none;}
.test-header__content{margin-bottom: 0!important;}
.test-header__menu{margin-bottom: 0!important;}
.construction__right-settings p{margin-top: 0;}
#canvas_sets h4,#canvas_sets li{margin: 0;}
#canvas_sets ul{margin: 0.5rem 0rem;}
.test-header{position: fixed!important;width: 100%;z-index: 9999!important;top: 0;}
.test-header hr{border: 1rem solid #e5e9ea;margin: 0;}
.shop {margin-top: 5rem;}
.fa.fa-bars.test-header__mobile-menu-toggle {
	cursor: pointer;
}
.test-header__menu-down {
    top: 30px!important;
}
.test-header__menu-down:before {
    top: -17%!important;
}
.test-header__menu-down:after {
    right: 10px!important;
    top: -18%!important;
}

.test-header__info p {
    line-height: 0.7rem!important;
}

.test-header__icons li i {
    font-size: 1.3rem!important;
    min-width: 20px!important;
    min-height: 20px!important;
}

.modalwindow {
	z-index: 10000 !important;
}

@media (max-width: 768px) {
	.slider {
		margin-top: 62px;
	}
}

@media only screen and (max-width: 480px){
	.modalwindow {
		width: 100% !important;
	}
	.slider {
		margin-top: 95px;
	}
	.modalwindow__modal-content-div {
		display: block !important;
		margin-right: 0 !important;
	}
	.modalwindow__modal-content-name {
		margin-bottom: 0 !important;
	}
	.modalwindow__modal-content form {
		padding-top: 3rem;
	}
	.modalwindow__modal-content-name {
		/*display: flex;
		align-items: center;*/
	}
	.modalwindow__modal-content label {
		margin-right: 1rem;
	}
	.modalwindow__modal-content-div input {
		width: 100% !important;
	}
	.modalwindow__modal-content-div_last {
		display: flex !important;
	}
	.test-header__logo {
		display: none;
	}
	td.etsy-shop-listing{
		display: block;
	}
	.team__slider img {
    	padding: 0rem!important;
	}
	.test-header__mobile-menu-toggle {
		font-size: 4rem!important;
		position: relative;
		right: 10px;
	}
	.test-header__new-row {
		display: block!important;
	}
	.test-header__link {
		font-size: 2.2rem!important;
	}
	.test-header__info p {
		font-size: 2rem!important;
	}
	.construction__content-rules ol{
		padding: 0;
	}
	.construction__content-rules {
		max-width: 100%!important;
		font-size: 1.5rem!important;
	}
	.construction__right-settings p {
		font-size: 2rem;
	}
	.container h2 {
		font-size: 5.3rem !important;
	}
	h4{
		font-size: 2rem;
	}
	#canvas_sets li {
		font-size: 2rem;
	}
	.footer__link {
		font-size: 2rem!important;
	}
	.footer__copy {
		font-size: 1.6rem!important;
		text-align: center;
	}
	.contacts__adress {
		font-size: 2rem!important;
	}
	.team__text {
		font-size: 2rem!important;
		padding: 1rem 4rem!important;
		padding-bottom: 5rem!important;
	}
	.construction__right-settings-seredina span,.construction__right-settings-seredina label{
		font-size: 2rem;
	}
	.portfolio p {
		padding: 5rem 6rem!important;
	}
	.aboutus__text {
		font-size: 2rem!important;
	}
	.construction__content-rules li{
		font-size: 2rem;
	}
	.construction__right-settings-element:not(.construction__right-settings-button) {
		min-height: 150px !important;
	}
}

@media (max-width: 320px) {
	.slider {
		margin-top: 117px;
	}

	.slider .miracle-slider-main .miracle-slider__next {
		right: 2rem !important;
	}

	.aboutus__slider .miracle-slider__item.active {
		margin-right: 10px !important;
	}
	.team__slider .miracle-slider__outer {
		width: 99% !important;
	}
	.portfolio__slider .miracle-slider__item.active {
		margin-right: 20px !important;
	}
}