.modalwindow{

	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	&__modal-content{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		position: relative;
		padding: 4rem 5rem;
		background-color: rgba(40, 134, 120, 0.66);
		border-radius: 2rem;
		width: 80%;
		input,textarea{
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px; 
			box-sizing: border-box; 
			resize: vertical;
		}
		label{
			font-size: 2rem;
			color: map-get( $my_color, white );
		}
		input[type=tel],input[type=email],input[type=checkbox]{
			// width: 30%;
		}
		input[type=submit]{
			background-color: darken(map-get( $my_color, pinkl ), 30%);
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			margin: 0 auto;
			display: block;
			font-size: 2rem;
			transition: all .5s ease-out;
			&:hover{
				background-color: darken(map-get( $my_color, pinkl ), 50%);
			}
			&:active, &:focus{
				transform: scale(.95);
			}
		}

		form{
			display: flex;
			width: 100%;
			flex-wrap: wrap;
		}
		&-textarea{
			width: 100%;
			margin-bottom: 2rem;
			margin-top: 2rem;
		}
		&-div{
			flex-grow: 3;
			margin-right: 5rem;
			display: flex;
			align-items: center;
			label{
				margin-right: 1rem;
			}
			input{
				width: auto;
				flex-grow: 1;
			}
			&_last{
				flex-grow: 1;
				margin-right: 0;
			}
		}
		&-name{
			margin-bottom: 3rem;
			width: 100%;
		}
	}

	&_opened{
		display: flex;
	}

	&__close {
		color: map-get( $my_color, white );
		font-size: 5rem;
		font-weight: bold;
		transition: transform .5s ease-out;
		line-height: 5rem;
		width: 50px;
		height: 50px;
		padding: 0;
		border: none;
		background: none;
		position: absolute;
		top: 0;
		right: 0;
		&:hover, &:focus{
			text-decoration: none;
			cursor: pointer;
			transform: rotate(360deg);
		}
	}	
}