.miracle-slider{
	position: relative;
	width: 100%;
	&__outer{
		overflow: hidden;
		position: relative;
	}
	&__stage{
		display: inline-flex;
		flex-wrap: nowrap;
		transform: translateX(0);
		transition: all .9s cubic-bezier(0, 0, 0.2, 1);
	}
	&__item{
		width: 100%;
		z-index: 2;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__nav{
	}
	&__prev, &__next{
		font-size: 2rem;
		padding: 2rem 1.5rem;
	    cursor: pointer;
	    background-repeat: no-repeat;
	    background-position: center;
        background-size: contain;
	    &:visited, &:active{
			transform: scale(.9) scale(0.9) translateY(-50%);
			transition: transform .5s ease;
		}
	}
	 
	&__prev{
		background-image: url(./img/vectorlef.png);
	} 


	 &__next{
		background-image: url(./img/vectorrig.png);
	}
}

