.test-header{
	background-color: map-get( $my_color, white );
	position: relative;
	box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, 0.48);
    z-index: 2;
	flex-wrap: wrap;
	display: flex;
	&__content{
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 2rem;

		@media only screen and(max-width: map-get( $gw, medium )){
			position: fixed;
			left: -230px;
			transition: 0.5s all ease;
			background-color: white;
			flex-direction: column;
			z-index: 10000;
			height: 100vh;
			justify-content: flex-start;

			.test-header__menu {
				flex-direction: column;
				align-items: center;
			}
		}
		&_toggled{
			left: 0;
		}
	}
	&__menu{
		display: flex;
		justify-content: space-between; 
		list-style: none;
		padding-left: 0; 
		// flex-grow: 5;
		position: relative;
		flex-wrap: wrap;
		transition: all .5s ease;
		

		// @media only screen and(max-width: map-get( $gw, medium )){
		// 	opacity: 0;
		// 	visibility: none;
		// 	display: none;
		// 	order: 2;
		// 	flex-direction: column;
		// 	flex-basis: 100%;
		// 	align-items: center;
		// }
		// &_toggled{
		// 	display: flex;
		// 	opacity: 1;
		// 	visibility: visible;
		// }
	}
	&__item{
	
		&:hover{
			background-color: map-get( $my_color, gray );
		}
		
	}
 
	&__linki{
		font-size: 1.5rem;
		color: map-get( $my_color, dark-green);
	
		&:hover{
			text-decoration: underline;
			color: map-get( $my_color, dark-green);
	}
	}

	&__link{
		font-size: 1.7rem;
	    cursor: pointer;
        padding: 0.5rem 2.3rem;
		display: flex;
		color: #626f72!important;
		cursor: pointer;
		text-decoration: none!important;

		@media (max-width: map-get( $gw, large)){
			padding: 0.5rem 1.3rem;
		}
		@media (max-width: map-get( $gw, medium) + 60px	){
			padding: 0.5rem 0.8rem;
		}
	}
	
	&__menu>&__item:hover &__menu-down{
		display: block;
	}
	
	&__menu-down{
		display: none;
	    position: absolute;
		width: 100%;
		max-width: 128px;
		top: 35px;
		left: 0;
		line-height: 2rem;
		background-color: white;
		border: 1px solid #cfcfcf;
		padding: 0;
		border-radius: 1px;
		z-index: 1;
		
		&:before{
			content: "▴";
			width: 0;
			height: 0;
			position: absolute;
			left: 20px;
            top: -23%;
    		font-size: 3rem;
			color:  map-get( $my_color, white );
			text-shadow: 0px -2px 0px #dbdbdb;
			@media (max-width: map-get( $gw, medium )) {
				content: unset;
			}
		}
		
		&:after{
			content: "";
			width: 0;
			height: 0;
			position: absolute;
            right: 6px;
			top: -31%;
			border-width: 6px 6px 0 6px;
			border-style: solid;
			border-color: #555557 transparent;

			@media (max-width: map-get( $gw, medium )) {
				content: unset;
			}
			
		}
		
		li{
			list-style: none;
			text-align: center;
		}

		@media (max-width: map-get( $gw, medium )) {
			position: relative;
			height: auto;
			top: 0 !important;
			border: none;
			transition: all 0.5s ease;
		}

	}
	&__social{
		display: flex;
		flex-direction: column;
		align-items: flex-end;	
		// flex-grow: 1;
		// margin-left: 3rem;	
		@media only screen and(max-width: map-get( $gw, x-small )){
			align-items: center;
		}
	}
	&__icons{
		list-style: none;
		display: flex; 
		padding-left: 0;
		max-width: 100%;		
		justify-content: space-between;
		margin-bottom: 0;
		min-width: 100px;
		li{
			font-size: 2rem;
			a{
				text-decoration: none;
				&:hover, &:active, &:focus{
					text-decoration: none;
				}
			}
			i{
				background-color: map-get($my_color, social-bg);
				border: 3px solid #565656;
				color: map-get($my_color, white);
				font-size: 2rem;
				border-radius: 50%;
				min-width: 30px;
				min-height: 30px;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all .5s ease;
				&:hover{
					border: 3px solid #565656;
					background-color: transparent;
					transform: rotateZ(360deg);
					color: #565656;
				}
				&:active, &:focus{
					transform: scale(.9) !important;
				}
			}
		}
		@media only screen and(max-width: map-get( $gw, x-small )){
			align-items: center;
		}
	}
	&__lang{
		&_active{
			color: map-get( $my_color, black );
		}
		&_inactive{
			color: map-get( $my_color, pink );
		}
	}
	
	&__button{
		position: fixed;
		right: 10%;
		top: 14%;
		background-color: map-get( $my_color, brown );
		height: 12rem;
		width: 12rem;
		border-radius: 50%;
		text-transform: uppercase;
		box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.7);
		text-shadow: 1px 2px darken( map-get( $my_color, brown ), 50% );
		text-align: center;
		font-size: 1.5rem;
		font-weight: 700;
		color: map-get( $my_color, white)!important;
		cursor: pointer;
		z-index: 9999;
		transition: all .5s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover{
			background-color: darken( map-get( $my_color, brown ), 20% );
		}
		&:active, &:focus{
			box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.7);
		}
		// @media (max-width: 1024px) {
		// 	top: 20%;
		// 	right: 15%;
		// }
		@media only screen and(max-width: map-get( $gw, medium )){
			top: 8%;
		}
		// @media only screen and(max-width: map-get( $gw, small )){
		// 	top: 14%;
		// 	width: 70px;
		// 	height: 70px;
		// 	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.7);
		// }
		// @media only screen and(max-width: map-get( $gw, x-small )){
		// 	display: none;	
		// }		
	}
	
	&__laye{
		position: relative;
		max-width: 44%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 8rem;
		line-height: 4.7rem;
		text-indent: -2rem;
		font-family: 'Copyist';
		color: map-get( $my_color, white );
		text-shadow: -3px -3px 1px #4d6d6b;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(99, 140, 137, 0.93) 35%, rgba(99, 140, 137, 0.89) 53%, rgba(99, 140, 137, 0.86) 69%, rgba(255, 255, 255, 0) 100%);
		padding: 3rem 0;
		z-index: 2;
		margin-bottom: 0;
		top: -4rem;

		@media only screen and(max-width: map-get( $gw, x-small )){

		}
	}
	
	&__logo{
		min-width: 100px;

		img {
			position: absolute;
			max-width: 130px;
			// left: 50%;
			// transform: translateX(-50%);
			z-index: 4;
			box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.48);
			border-radius: 50%;
			@media only screen and(max-width: map-get( $gw, x-small )){

			}
		}
	}
	&__new-row{
		position: relative;
		justify-content: space-around;
		flex-grow: 1;
		flex-basis: 100%;
		@media only screen and(max-width: map-get( $gw, x-small )){
			justify-content: space-between;
			padding: 0 2rem;
		}
	}

	&__info{
    	padding: 0px;
	}
	&__info p{
		text-align: center;
		font-size: 1.5em;
		color: #626f72;
		font-weight: 500;
	    line-height: 1rem;
	}
	&__mobile-menu{

		&-toggle{
			visibility: hidden;
			@media (max-width: map-get( $gw, medium )){
				visibility: visible;
				font-size: 4rem !important;
				color: map-get( $my_color, gray );
				left: 6px;
				position: relative;
			}
		}

		&-close {
			display: none;
			cursor: pointer;

			@media (max-width: map-get( $gw, medium )) {
				display: block; 
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 25px !important;
			}
		}
	}
}
