.container{
	display: flex;
	justify-content: space-between;
	// max-width: 960px;
	margin: 0 auto;	 
	max-width: $max-width;
	flex-wrap: wrap;
	
	&__bg{
		background: -webkit-linear-gradient(#ffffff 50%, #e6f3f2 50%);
		background: -o-linear-gradient(#ffffff 50%, #e6f3f2 50%);
		background: linear-gradient(#ffffff 50%, #e6f3f2 50%);
	}
}