.footer{
	background-color: map-get( $my_color, primary );	
	padding: 1rem 0rem;
	
	&__content{
		justify-content: center;
	}
	
	&__menu{
		padding: 0;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		list-style: none;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	&__item{
		
	}
	
	&__link{
		cursor: pointer;
		display: flex;
		font-size: 1rem;
		color: map-get( $my_color, white )!important;
		text-transform: uppercase;
   		padding: 0.5rem 2rem;
	}
	
	&__copy{
		color: map-get( $my_color, white );
		font-size: 1rem;
		width: 100%;
		padding: 0 6.2rem;
	}
}