.contacts{
	
	background-color: map-get( $my_color, light-green );
	
	&__content{
		background-color: map-get( $my_color, white );
		padding:0 6.571rem;
	}
	
	& h1{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		color: map-get( $my_color, green );
		font-weight: 700;
		text-transform: uppercase;
        text-shadow: 0px 1px 0px white;
		position: relative;
		z-index: 1;
	}
	
	& h1:after{
		content: "";
		position: absolute;
		z-index: -1;
		background-image: url(./img/brorder1.png);
		width: 203px;
		height: 75px;
		top: -80%;
		left: 50%;
		transform: translateX(-50%);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	
	& h2{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	&__adress{
		width: 100%;
        font-size: 1.8rem;
		color: map-get( $my_color, dark-green );
	    text-align: center;
	}
	
	& iframe{
		margin-bottom: 2rem;
	}
}