$margin : -5rem;
.aboutus__slider{
	.miracle-slider{
		&__nav{
			padding: 0;
		}
		&__prev, &__next{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		&__prev{
			left: $margin;
		}
		&__next{
			right: $margin;
		}
		&__item{
			// margin-right: 10px;
			img{
				height: 200px;
				object-fit: cover;
			}
			&.active{
				margin-right: 10px;
				&.last{
					margin-right: 0;
				}
			}
		}
	}
}