$margin : -3rem;
.team__slider{
	max-width: 88% !important;
	.miracle-slider{
		&__outer{
			width: 100%;
		}
		&__nav{
			padding: 0;
		}
		&__prev, &__next{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		&__prev{
			left: $margin;
		}
		&__next{
			right: $margin;
		}
		&__item{
			// margin-right: 10px;
			img{
				// height: 100%;
				object-fit: cover;
			}
			&.active{
				margin-right: 3rem;
				&.last{
					margin-right: 0;
				}
			}
		}
	}
}