@charset 'utf-8';

@import "../../global/miracleSettings";
@import "./style/slider";
@import "./style/lib/miracle-slider";

.swiper-container {
    width: 100%;
    height: 300px;
}
.swiper-portfolio {
	height: 400px;

	.swiper-slide {

		img {
			height: 50%;
		}
	}
}
.swiper-button-prev {
	background-image: url(./img/vectorlef.png);
}

.swiper-button-next {
	background-image: url(./img/vectorrig.png);
}