.shop{	

	background-color: map-get( $my_color, white);
	
	& h1{
	    font-family: 'Verdana';
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		color: map-get( $my_color, green );
		font-weight: 700;
		text-transform: uppercase;
        text-shadow: 0px 1px 0px white;
		position: relative;
		z-index: 1;
		&:after{
			content: "";
			position: absolute;
			z-index: -1;
			background-image: url(./img/brorder1.png);
			width: 203px;
			height: 75px;
			top: -80%;
			left: 50%;
			transform: translateX(-50%);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	
	& h2{
		width: 100%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		color: map-get( $my_color, pinkii );
	}
	
	&__content{
		background-color:map-get( $my_color, pinkl);
		justify-content: center;
	}
	
	// & img{    margin: 8rem 7rem;
 //    width: 100%;
	// }
}