.aboutus{
	background-color: map-get( $my_color, white );
	padding: 5rem 0rem;
	background-image: url(./img/lay1.png);
	background-position: center;
	background-repeat: no-repeat;
	
	&__content{
	}
	
	& h1{
		font-family: 'Verdana';
		display: -webkit-flex;
		display: -ms-flexbox; 
		display: flex;
		justify-content: center;
		margin: 0 auto;
		color: map-get( $my_color, green );
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 0px 1px 0px white;
		position: relative;
		z-index: 1;
	}
	
	& h1:after{
		content: "";
		position: absolute;
		z-index: -1;
		background-image: url(./img/brorder1.png);
		width: 203px;   
		height: 75px;
		top: -80%;
		left: 50%;
		transform: translateX(-50%);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	
	& h2{
		width: 100%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	
	&__slider{
		display:inline-block;
		margin: 2rem auto;
		padding: 0;
		max-width: 80%;
	}
	
	&__text{
		font-size: 1.5rem;
		color: #58595b;
		text-align: center;
		padding: 0px 5.5rem;
	}
	
}